<div class="course-card">


  <div class="course-title">
    <!-- cardindex and concat echoes out index position a period and a space -->
      {{ cardIndex + '. ' + course.description }}
  </div>
  <img width="300" alt="Angular Logo"
       [src]="course.iconUrl">

  <div class="course-description">
     {{ course.longDescription }}
  </div>
  <!-- note that click event can bubble beyond component itself -->
<button (click)="onCourseViewed()">View Course</button>
</div>

<!-- extraction allows for DRY coding -->
