<div class="top-menu">

    <img class="logo"
         src="https://angular-academy.s3.amazonaws.com/main-logo/main-page-logo-small-hat.png">

</div>

<div class="demo">
  <div>
    <!-- the date pipe '| date' formats the returned data appropriately can also add parameters to config the output-->
    Start Date: {{ startDate | date: 'MMM/dd/yyyy' }}
  </div>
  <div>
    {{ title | titlecase }}
  </div>
  <div>
    <!-- number: '3.3-5' defines range of decimal places -->
    {{ price | currency }}
  </div>
  <div>
    Percentage: {{ rate | percent }}
  </div>
</div>
<!-- // below accesses data from db-data.ts via the vars in app...ts file -->
<!-- <h1>{{ coreCourse.description }}</h1> -->

<!-- {{ courses | json }}  json pipe will load entirety of object as JSON -->
<!-- below keyvalue pipe when run on ngFor loop  will allow access to object key and value pairs-->
<div *ngFor=" let pair of course | keyvalue">
  {{ pair.key + ':' + pair.value }}
</div>

<div class="courses" #container>


 <!-- creating custom component to loop through data and create cards -->
 <!-- change property to course to reflect updates now that we are accessing the object-->
 <!-- $event as an argument discerns payload and passes it to method does not bubble up-->
 <!-- custom event name is sames as emitter - angular takes the emitter name if nothing else is specced.-->
 <!-- <course-card (courseSelected)="onCourseSelected($event)" [course]="coreCourse"></course-card>

 <course-card (courseSelected)="onCourseSelected($event)" [course]="rxjsCourse"></course-card>
 <course-card (courseSelected)="onCourseSelected($event)" [course]="ngrxCourse"></course-card> -->

<!-- using ngfor structural directive used to loopo through course list * symbolises structural directive-->
<!-- let course expression allows object to be separated via looping -->
<!-- ;index as i allows indexing -->
<!-- input parameter cardindex is passed value of i +1 for standard count used for adding a count to the looped cards-->
<!-- first is var provided by ngFor can be renamed using as syntax so below when using the class parameter
and isFirst as the value the .is-first css class will be applied only to the first item of the loop applied according to boolean-->
<!-- the slice pipe can be configured for a start and end but the end number is excluded so slice: 0-2 would only show 0 and 1 from the index -->
 <!-- <course-card *ngFor="let course of courses | slice: 0:9;index as i;
 first as isFirst; last as isLast"
 [class.is-first]="isFirst"
 [class.is-last]="isLast"

 (courseSelected)="onCourseSelected($event)" [course]="course" [cardIndex]="i + 1"></course-card> -->

<!-- removed from loop for view child decorator example-->
 <course-card (courseSelected)="onCourseSelected($event)" [course]="courses[0]" #cardRef1></course-card>

 <!-- <course-card (courseSelected)="onCourseSelected($event)" [course]="courses[1]" #cardRef2></course-card> -->


</div>


